.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: 767px) {
    justify-content: center;
  }

  &__image-wrapper {
    position: relative;
    height: 100%;
    flex-grow: 1;
  }

  &__image {
    right: -36px;
    top: 0;
    position: absolute;
    object-fit: contain;

    @media (max-width: 1439px) {
      //698px at 1440px screen and 415px at 768px screen: width 698 1440 415 768
      width: calc(100vw * 0.4211 + 91.5714px);
      z-index: 1;
    }

    @media (max-width: 1023px) {
      //15px at 1023px screen and 70px at 768px screen: top 15 1023 70 768
      top: calc(100vw * -0.2157 + 235.6471px);
      right: -10px;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }
}

.hero-content {
  margin-top: 115px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: #{550px / $wrapper-width * 100%};
  flex-shrink: 0;

  @media (max-width: 1439px) {
    position: relative;
    z-index: 2;
  }

  @media (max-width: 1023px) {
    margin-top: 30px;
  }

  @media (max-width: 767px) {
    max-width: 100%;
    align-items: center;
    margin-top: 50px;
  }

  &__subtitle {
    font-family: $main-font;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: #DF6951;
    margin: 0;

    @media (max-width: 1439px) {
      //20px at 1440px screen and 15px at 375px screen: font-size 20 1440 15 375
      font-size: calc(100vw * 0.0047 + 13.2394px);
    }

    @media  (max-width: 767px) {
      text-align: center;
    }
  }

  &__title {
    font-family: $secondary-font;
    font-size: 84px;
    font-weight: 700;
    line-height: 1.06;
    letter-spacing: -3.36px;
    margin: 28px 0 0 0;

    @media (max-width: 1439px) {
      //84px at 1440px screen and 50px at 375px screen: font-size 84 1440 50 375
      font-size: calc(100vw * 0.0319 + 38.0282px);
    }

    @media (max-width: 767px) {
      text-align: center;
    }
  }

  &__title-underline {
    position: relative;

    &::after {
      z-index: -1;
      left: -33px;
      bottom: 19px;
      position: absolute;
      content: '';
      background: url("/../../../img/title-underline.png") no-repeat center bottom;
      width: 385px;
      height: 12px;

      @media (max-width: 1439px) {
        //-33px at 1440px screen and -12px at 375px screen: left -33 1440 -12 375
        left: calc(100vw * -0.0197 - 4.6056px);
        //19px at 1440px screen and 7px at 375px screen: bottom 19 1440 7 375
        bottom: calc(100vw * 0.0113 + 2.7746px);
        //385px at 1440px screen and 155px at 375px screen: width 385 1440 155 375
        width: calc(100vw * 0.216 + 74.0141px);
      }
    }
  }

  &__description {
    color: #5E6282;
    font-family: $main-font;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.88;
    max-width: 475px;
    margin: 30px 0 0 0;

    @media (max-width: 767px) {
      text-align: center;
    }
  }

  &__button-wrapper {
    display: flex;
    gap: 45px;
    align-items: center;
    margin-top: 34px;

    @media (max-width: 767px) {
      gap: 25px;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__button-wrapper-continue {
    border-radius: 10px;
    box-sizing: border-box;
    background: #F1A501;
    box-shadow: 0 20px 35px 0 rgba(241, 165, 1, 0.15);
    color: #ffffff;
    font-family: $main-font;
    border: 1px solid #F1A501;
    font-size: 17px;
    font-weight: 500;
    min-width: 170px;
    padding: 19px 10px;
    cursor: pointer;
    transition: $transition-config;

    @media (max-width: 1439px) {
      //170px at 1440px screen and 150px at 375px screen: min-width 170 1440 150 375
      min-width: calc(100vw * 0.0188 + 142.9577px);
      //17px at 1440px screen and 15px at 375px screen: font-size 17 1440 15 375
      font-size: calc(100vw * 0.0019 + 14.2958px);
    }

    &:hover,
    &:active,
    &:focus {
      background: #ffffff;
      color: #F1A501;
    }

    &:focus,
    &:active {
      box-shadow: 0 20px 35px 3px rgba(241, 165, 1, 0.5);
      outline: none;
    }
  }

  &__button-wrapper-demo {
    display: flex;
    background: transparent;
    border: none;
    align-items: center;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    font-family: $main-font;
    color: #686D77;
    gap: 20px;
    padding: 0;

    @media (max-width: 1439px) {
      font-size: calc(100vw * 0.0019 + 14.2958px);
    }

    &:hover,
    &:active,
    &:focus {
      .hero-content__button-wrapper-demo-icon-bg {
        background: #ffffff;

        svg {
          path {
            fill: #DF6951;
          }
        }
      }
    }

    &:active,
    &:focus {
      outline: none;
      .hero-content__button-wrapper-demo-icon-bg {
        box-shadow: 0 15px 30px 3px rgba(223, 105, 81, 0.30);
      }
    }
  }

  &__button-wrapper-demo-icon-bg {
    width: 52px;
    height: 52px;
    box-sizing: border-box;
    border: 1px solid #DF6951;
    border-radius: 50%;
    background: #DF6951;
    box-shadow: 0 15px 30px 0 rgba(223, 105, 81, 0.30);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $transition-config;

    svg {
      width: 12px;
      path {
        transition: $transition-config;
      }
    }
  }
}
