.footer {
  padding-top: 178px;
  padding-bottom: 175px;

  @media (max-width: 1439px) {
    overflow: hidden;
    padding: 100px 0;
  }
}

.footer-container {
  padding: 80px 40px 85px;
  background: rgb(223, 215, 249, 0.2);
  border-radius: 129px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (max-width: 767px) {
    padding: 100px 15px;
  }

  @media (max-width: 767px) {
    padding: 100px 15px;
  }

  &__title {
    font-family: $main-font;
    font-size: 33px;
    font-weight: 700;
    line-height: 1.64;
    color: #5E6282;
    text-align: center;
    max-width: 880px;
    margin: 0;

    @media (max-width: 1439px) {
      //33px at 1440px screen and 20px at 375px screen: font-size 33 1440 20 375
      font-size: calc(100vw * 0.0122 + 15.4225px);
    }
  }

  &__form-item {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 66px;

    @media (max-width: 767px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__form-item-label {
    position: relative;
    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &__form-item-label-icon {
    width: 26px;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);

    @media (max-width: 767px) {
      left: 15px;
    }
  }

  &__form-item-label-input {
    font-family: $main-font;
    font-size: 16px;
    font-weight: 400;
    color: #5E6282;
    border-radius: 10px;
    background: #ffffff;
    border: 1px solid #ffffff;
    min-width: 420px;
    padding: 24px 30px 22px 65px;
    transition: $transition-config;
    box-sizing: border-box;

    @media (max-width: 767px) {
      min-width: auto;
      width: 100%;
      padding: 20px 20px 22px 50px;
    }

    &:focus,
    &:active {
      outline: none;
      box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
    }
  }

  &__form-item-button {
    background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    font-family: $main-font;
    border: none;
    outline: none;
    border-radius: 10px;
    min-width: 180px;
    padding: 24px 10px;
    cursor: pointer;
    transition: $transition-config;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      background: #fff;
      opacity: 0;
      border-radius: 10px;
      transition: $transition-config;
      border: 1px solid #FF7D68;
      box-sizing: border-box;
    }

    &-text {
      position: relative;
      z-index: 1;
    }

    &:hover,
    &:active,
    &:focus {
      color: #FF7D68;

      &::after {
        opacity: 1;
      }
    }

    &:active,
    &:focus {
      box-shadow: 0 0 0 3px rgba(255, 125, 104, 0.3);
    }
  }

  &__left-circle {
    opacity: 0.1;
    position: absolute;
    bottom: 0;
    width: 390px;
    left: 19px;
    z-index: -1;

    @media (max-width: 1439px) {
      //390px at 1440px screen and 230px at 375px screen: width 390 1440 230 375
      width: calc(100vw * 0.1502 + 173.662px);
    }
  }

  &__right-circle {
    opacity: 0.1;
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    z-index: -1;

    @media (max-width: 1439px) {
      //200px at 1440px screen and 130px at 375px screen: width: 200 1440 130 375
      width: calc(100vw * 0.0657 + 105.3521px);
    }
  }

  &__crosses-icon {
    position: absolute;
    z-index: -1;
    width: 153px;
    bottom: -70px;
    right: -108px;
  }

  &__contact-link {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: linear-gradient(216deg, #747DEF 0%, #5E3BE1 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -13px;
    right: -29px;
    transition: $transition-config;
    outline: none;

    @media (max-width: 767px) {
      width: 50px;
      height: 50px;
      right: -10px;
    }

    &:hover,
    &:active,
    &:focus {
      opacity: 0.9;
    }

    &:active,
    &:focus {
      box-shadow: 0 0 0 3px rgba(103, 85, 230, 0.3);
    }
  }

  &__contact-link-icon {
    width: 47px;
    transform: translate(2px, -1px);

    @media (max-width: 767px) {
      width: 27px;
    }
  }
}
