.footer {
  padding-top: 60px;
  padding-bottom: 175px;
}

.footer-wrapper {
  padding: 80px 40px 85px;
  background: rgb(223, 215, 249, 0.2);
  border-radius: 129px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__title {
    font-family: $main-font;
    font-size: 33px;
    font-weight: 700;
    line-height: 1.64;
    color: #5E6282;
    text-align: center;
    max-width: 880px;
    margin: 0;
  }

  &__form-item {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 66px;
  }

  &__form-item-label {
    position: relative;
  }

  &__form-item-label-icon {
    width: 26px;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
  }

  &__form-item-label-input {
    font-family: $main-font;
    font-size: 16px;
    font-weight: 400;
    color: #5E6282;
    border-radius: 10px;
    background: #ffffff;
    border: 1px solid #ffffff;
    min-width: 420px;
    padding: 24px 30px 22px 65px;
    transition: $transition-config;
    box-sizing: border-box;

    &:focus,
    &:active {
      outline: none;
      box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
    }
  }

  &__form-item-button {
    background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    font-family: $main-font;
    border: none;
    border-radius: 10px;
    min-width: 180px;
    padding: 24px 10px;
    cursor: pointer;
    transition: $transition-config;

    &:hover,
    &:active,
    &:focus{
      color: #FF7D68;
      background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);outline: none;
    }

    &:active,
    &:focus {
      box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
    }
  }

  &__left-circle {
    opacity: 0.1;
    position: absolute;
    bottom: 0;
    width: 390px;
    left: 19px;
    z-index: -1;
  }

  &__right-circle {
    opacity: 0.1;
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    z-index: -1;
  }

  &__crosses-icon {
    position: absolute;
    z-index: -1;
    width: 153px;
    bottom: -70px;
    right: -108px;
  }

  &__contact-link {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: linear-gradient(216deg, #747DEF 0%, #5E3BE1 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -13px;
    right: -29px;
  }

  &__contact-link-icon {
    width: 47px;
    transform: translate(2px, -1px);
  }
}
