.footer-form {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 66px;

  @media (max-width: 767px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  &__label {
    position: relative;
    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &__label-icon {
    width: 26px;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);

    @media (max-width: 767px) {
      left: 15px;
    }
  }

  &__input {
    font-family: $main-font;
    font-size: 16px;
    font-weight: 400;
    color: #5E6282;
    border-radius: 10px;
    background: #ffffff;
    border: 1px solid #ffffff;
    min-width: 420px;
    padding: 24px 30px 22px 65px;
    transition: $transition-config;
    box-sizing: border-box;

    @media (max-width: 767px) {
      min-width: auto;
      width: 100%;
      padding: 20px 20px 22px 50px;
    }

    &:focus,
    &:active {
      outline: none;
      box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
    }
  }

  &__button {
    background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    font-family: $main-font;
    border: none;
    outline: none;
    border-radius: 10px;
    min-width: 180px;
    padding: 24px 10px;
    cursor: pointer;
    transition: $transition-config;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      background: #fff;
      opacity: 0;
      border-radius: 10px;
      transition: $transition-config;
      border: 1px solid #FF7D68;
      box-sizing: border-box;
    }

    &-text {
      position: relative;
      z-index: 1;
    }

    &:hover,
    &:active,
    &:focus {
      color: #FF7D68;

      &::after {
        opacity: 1;
      }
    }

    &:active,
    &:focus {
      box-shadow: 0 0 0 3px rgba(255, 125, 104, 0.3);
    }
  }
}
