html {
  --wrapper-width: #{$wrapper-width};
  --wrapper-padding: #{$wrapper-padding};

  height: 100%;

  @media (max-width: 1023px) {
    --wrapper-padding: #{$wrapper-padding-mobile};
  }
}

.wrapper {
  max-width: calc(var(--wrapper-width) + (var(--wrapper-padding) * 2));
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  padding-left: var(--wrapper-padding);
  padding-right: var(--wrapper-padding);
}

.page-wrapper {
  position: relative;

  &::before {
    position: absolute;
    content: url('/../../img/page-shadow.png');
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__bg-object {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 49vw;
  }
}
